$font-primary: "PT Sans", Arial, Georgia;
$white-color: #fff;
$orange-color: #db711b;
$light-grey-color: #eaeaea;
$grey-color:#b1b1b1;
$dark-grey-color: #626262;
$grey-button-color: #797778;
$grey_btn-border: #9a9899;

